<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/main.css">
    <title>Delonix Regia. | Dashboard</title>
</head>

<body class="body">
    <div class="navtab">
        <nav>
            <ul>
                <li><a href='@Url.Action("Dashboard", "Dashboard")'><img src="~/img/dash.PNG" width="170" height="100" /></a></li>
                <li><a href='@Url.Action("Bookings", "Bookings")'><img src="~/img/bookings.PNG" width="170" height="100" /></a></li>
                <li><a href='@Url.Action("Housekeeping", "Housekeeping")'><img src="~/img/housekeep.PNG" width="170" height="100" /></a></li>
                <li><a href='@Url.Action("Reports", "Reports")'><img src="~/img/report.PNG" width="170" height="100" /></a></li>
                <li><a href='@Url.Action("Users", "Users")'><img src="~/img/userw.PNG" width="170" height="100" /></a></li>
                <li><a href='@Url.Action("Index", "Home")'><img src="~/img/logout.PNG" width="170" height="100" /></a></li>
            </ul>
        </nav>
    </div>

    <div class="mainContent">
        <div class="navContent">
            <nav class="subNav">
                <ul>
                    <li class="inactive"><a href='@Url.Action("Client", "Users")'>Client</a></li>
                    <li class="inactive"><a href='@Url.Action("Users", "Users")'>Staff</a></li>
                    <li class="active"><a href='@Url.Action("AddStaff", "Users")'>Add Staff</a></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                </ul>
            </nav>
        </div>
        <div class="bookingDetails">
            <table class="cDetails">

                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>Role</td>
                                <td>
                                    <select>
                                        <option>--CHOOSE--</option>
                                        <option>Administrator</option>
                                        <option>Receptionist</option>
                                        <option>Housekeeping</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td><input type="text" /></td>
                            </tr>
                            <tr>
                                <td>Password</td>
                                <td><input type="text" /></td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td><input type="text" /></td>
                            </tr>
                            <tr>
                                <td>Phone</td>
                                <td><input type="text" /></td>
                            </tr>
                            <tr>
                                <td>Bank account</td>
                                <td><input type="text" /></td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>
                                    <select>
                                        <option>--CHOOSE--</option>
                                        <option>Active</option>
                                        <option>Inactive</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="button" value="Save" onclick="submit()"/></td>
                                <td></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

        </div>
    </div>

</body>
</html>
<script>
    function submit() {
        alert("Staff Added!");
        window.location.href = "@Url.Action("Users", "Users")";
    }
</script>