<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/main.css">
    <title>Delonix Regia. | Dashboard</title>
</head>

<body class="body">
    <div class="navtab">
        <nav>
            <ul>
                <li><a href='@Url.Action("Dashboard", "Dashboard")'><img src="~/img/dash.PNG" width="170" height="100" /></a></li>
                <li><a href='@Url.Action("Bookings", "Bookings")'><img src="~/img/bookings.PNG" width="170" height="100" /></a></li>
                <li><a href='@Url.Action("Housekeeping", "Housekeeping")'><img src="~/img/housekeep.PNG" width="170" height="100" /></a></li>
                <li><a href='@Url.Action("Reports", "Reports")'><img src="~/img/report.PNG" width="170" height="100" /></a></li>
                <li><a href='@Url.Action("Users", "Users")'><img src="~/img/userw.PNG" width="170" height="100" /></a></li>
                <li><a href='@Url.Action("Index", "Home")'><img src="~/img/logout.PNG" width="170" height="100" /></a></li>
            </ul>
        </nav>
    </div>

    <div class="mainContent">
        <div class="navContent">
            <nav class="subNav">
                <ul>
                    <li class="active"><a href='@Url.Action("Client", "Users")'>Client</a></li>
                    <li class="inactive"><a href='@Url.Action("Users", "Users")'>Staff</a></li>
                    <li class="inactive"><a href='@Url.Action("AddStaff", "Users")'>Add Staff</a></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                </ul>
            </nav>
        </div>
        <div class="bookingDetails">
            <div class="bookingSearch">
                <input type="search" />
            </div>
            <div class="bookingTable">
                <table border=1>
                    <tr>
                        <th><input type="checkbox" /></th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Number</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td><p>1</p></td>
                        <td>Mechelle Perez</td>
                        <td><a href="#">mechellep@gmail.com</a></td>
                        <td>92378178</td>
                        <td>
                            <select class="request">
                                <option>Upcoming</option>
                                <option>Staying</option>
                                <option>Departed</option>
                            </select>
                        </td>
                        <td>
                            <a href="#" style="text-decoration: none;">
                                <a href="@Url.Action("ClientEdit", "Users")">
                                    <img src="~/img/edit.PNG" width="30" height="30" class="tableEdit" /></a>
                                    <img src="~/img/delete.PNG" width="30" height="30" class="tableDelete" />
                                </a>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td><p>2</p></td>
                        <td>Yuli Griffin</td>
                        <td><a href="#">yuligriffin9@gmail.com</a></td>
                        <td>96378262</td>
                        <td>
                            <select class="request">
                                <option>Upcoming</option>
                                <option>Staying</option>
                                <option>Departed</option>
                            </select>
                        </td>
                        <td>
                            <a href="#" style="text-decoration: none;">
                                <img src="~/img/edit.PNG" width="30" height="30" class="tableEdit" />
                                <img src="~/img/delete.PNG" width="30" height="30" class="tableDelete" />
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="pagination">
                <select class="action">
                    <option>Choose Action</option>
                    <option>Delete Selected</option>
                    <option>Export</option>
                </select> Go to page: <input type="text" placeholder="1" style="width: 10px;" /> /1
                <div style="float: right; color:grey; margin: 15px;">
                    Total items: 2/10
                </div>
            </div>
        </div>

    </div>

</body>
</html>