@section scripts {
    @Scripts.Render("~/bundles/app")
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/main.css">
    <title>Delonix Regia. | Dashboard</title>
</head>

<body class="body">
    <div class="navtab">
        <nav>
            <ul>
                <li><a href='@Url.Action("Dashboard", "Dashboard")'><img src="~/img/dash.PNG" width="170" height="100" /></a></li>
                <li><a href='@Url.Action("Bookings", "Bookings")'><img src="~/img/bookings.PNG" width="170" height="100" /></a></li>
                <li><a href='@Url.Action("Housekeeping", "Housekeeping")'><img src="~/img/housekeep.PNG" width="170" height="100" /></a></li>
                <li><a href='@Url.Action("Reports", "Reports")'><img src="~/img/report.PNG" width="170" height="100" /></a></li>
                <li><a href='@Url.Action("Users", "Users")'><img src="~/img/userw.PNG" width="170" height="100" /></a></li>
                <li><a href='@Url.Action("Index", "Home")'><img src="~/img/logout.PNG" width="170" height="100" /></a></li>
            </ul>
        </nav>
    </div>

</body>
</html>