@section scripts {
    @Scripts.Render("~/bundles/app")
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/main.css">
    <title>Delonix Regia. | Dashboard</title>
</head>

<body class="body">
    @* Top Navbar *@
    <div class="navtab">
        <nav>
            <ul>
                <li><a href='@Url.Action("Dashboard", "Dashboard")'><img src="~/img/dash.PNG" width="170" height="100" /></a></li>
                <li><a href='@Url.Action("Bookings", "Bookings")'><img src="~/img/bookings.PNG" width="170" height="100" /></a></li>
                <li><a href='@Url.Action("Housekeeping", "Housekeeping")'><img src="~/img/housekeepw.PNG" width="170" height="100" /></a></li>
                <li><a href='@Url.Action("Reports", "Reports")'><img src="~/img/report.PNG" width="170" height="100" /></a></li>
                <li><a href='@Url.Action("Users", "Users")'><img src="~/img/user.PNG" width="170" height="100" /></a></li>
                <li><a href='@Url.Action("Index", "Home")'><img src="~/img/logout.PNG" width="170" height="100" /></a></li>
            </ul>
        </nav>
    </div>

    <div class="mainContent">
        @* Navbar *@
        <div class="navContent">
            <nav class="subNav">
                <ul>
                    <li class="active"><a href='@Url.Action("Housekeeping", "Housekeeping")'>Employee Record</a></li>
                    <li class="inactive"><a href='@Url.Action("Duties", "Housekeeping")'>Duties</a></li>
                    <li class="inactive"><a href='@Url.Action("AddDuties", "Housekeeping")'>Assign Duties</a></li>
                    <li class="inactive"><a href='@Url.Action("TypeofDuties", "Housekeeping")'>Manage Duties</a></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                    <li class="fill"></li>
                </ul>
            </nav>
        </div>
        <div class="bookingDetails">

            @* Search *@
            <div class="bookingSearch">
                <input type="search" placeholder="Search" />
            </div>

            @* STAFF TABLE *@
            <div class="bookingTable">
                <table border=1>
                    <tr>
                        <th>Staff ID</th>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Date of Birth</th>
                        <th>Address</th>
                        <th>Duty Type</th>
                        <th>Date Joined</th>
                        <th>Bank Acc</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Mark Koh</td>
                        <td>91233456</td>
                        <td>08/04/1999</td>
                        <td>260C Punggol Way, #11-317, Singapore 823260</td>
                        <td>Room Maintenance</td>
                        <td>25/1/2017</td>
                        <td>501-12395-6001</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Jane Tan</td>
                        <td>94230243</td>
                        <td>24/05/1987</td>
                        <td>364C Woodlands Road, #03-112, Singapore 632364</td>
                        <td>Security Maintenance</td>
                        <td>3/5/2018</td>
                        <td>501-45435-42321</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>